@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

body {
    background-color: rgb(185, 234, 217);
    text-align: center;
}

#content {
    color:rgb(30, 66, 164);
}

button {
    background-color: rgb(6, 182, 182);
}
